.intro {
  max-width: 830px;
  margin-top: 92px;
  box-sizing: border-box;
  margin: auto;
  margin-left: 148px;
}

.intro__title {
  font-family: "Inter";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  max-width: 830px;
  color: #ffffff;
  margin-top: 92px;
  margin-bottom: 40px;
}

.intro__title-p1 {
  max-width: 738px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  color: #ffffff;
}

.intro__title-p1-author {
  max-width: 738px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  color: #ffffff;
}
.intro__paragraph {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #ffffff;
  margin: auto;
  max-width: 830px;
  margin-top: 40px;
}
