.page {
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  background: #2a2c2f;
  background-color: #ffffff;
}
.header__title {
  font-family: Inter;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
  width: 1280px;
  height: 2008px;
  top: -4524px;
  left: -2387px;
  gap: 0px;
  opacity: 0px;
}
. .header__description {
  font-family: Inter;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  width: 720px;
  height: 72px;
  top: 426px;
  left: 280px;
  gap: 0px;
  opacity: 0px;
}
